[submodule "SmithedCore"]
	path = SmithedCore
	url = https://github.com/TheNuclearNexus/SmithedCore.git
[submodule "SmithedCrafter"]
	path = SmithedCrafter
	url = https://github.com/TheNuclearNexus/SmithedCrafter.git
